<h1>Log In</h1>
<%= form_for :user, url: sessions_path do |f| %>
	<%= f.email_field :email, placeholder: "Email" %><br>
	<%= f.password_field :password, placeholder: "Password" %><br>
	<hr>
	<%= f.submit "Log In" %><br>

<% end %>
