<div class="container">
<h1>Profile Page</h1>
<p>Hello, <%= current_user.first_name %></p>
<hr>
<div>
	<h3>My Reviews</h3>
</div>
<hr>
	<% current_user.reviews.each do |review| %>
		<h5 id="artistnameinreview"><%=link_to review.artist.name, review.artist %></h5>
		<p>Artist Rating: <%= review.ratings %></p>
		<p><%= review.text %></p>
		<hr>
	<% end %>
</div>