<h1>Reviews</h1>
<hr>
<% @reviews.each do |review| %>
	<p><%= review.name %> - <%= review.artist %> - <%= review.text %> </p>

<% end %>

<% if current_user %>
	<%= link_to "Profile", profile_path %>
<% end %>
