<h1>New Review</h1>
<%= form_for @review do |f| %>
	<%= f.text_field :artist, placeholder: "Artist" %><br>
	<%= f.text_field :text, placeholder: "Review" %><br>
	
	<hr>
	<%= f.submit "Save Review" %><br>

<% end %>